In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
# list comprehension

In [5]:
my_list = [num **2 for num in range(1,11)]

In [6]:
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
1+ 1

2

In [4]:
1*3

3

In [5]:
1/2

0.5

In [6]:
2**4

16

In [7]:
2+3*5+5

22

In [8]:
(2+3) * (5+5)

50

In [9]:
4&2

0

In [10]:
4%5

4

In [11]:
4%3

1

In [12]:
5%3

2

In [13]:
5%2

1

In [14]:
2%2

0

In [15]:
var = 2

In [16]:
var

2

In [17]:
name_of_var = 12

In [18]:
# Strings

In [19]:
'Single quotes'

'Single quotes'

In [20]:
"this a double quote string"

'this a double quote string'

In [21]:
"I can't eat banana"

"I can't eat banana"

In [22]:
x = 'hello'

In [23]:
x

'hello'

In [24]:
print(x)

hello

In [25]:
num = 12
name = 'Sam'

In [29]:
self = 'My number is {one} and my name is {two}'.format(one = num, two = name)

In [30]:
print(self)

My number is 12 and my name is Sam

In [31]:
s= 'hello'

In [32]:
s[0]

'h'

In [33]:
print(s[0])

h

In [35]:
s[4]

'o'

In [36]:
s[2:]

'llo'

In [37]:
s[1:4]

'ell'

In [38]:
s[:4]

'hell'

In [39]:
[1,2,3]

[1, 2, 3]

In [42]:
my_list = ['a','b,','c']

In [43]:
my_list.append('d')

In [44]:
my_list

['a', 'b,', 'c', 'd']

In [45]:
my_list[0]

'a'

In [46]:
my_list[1:4]

['b,', 'c', 'd']

In [47]:
my_list[0] = 'New'

In [48]:
my_list

['New', 'b,', 'c', 'd']

In [51]:
nest =[1,2,3,[4,5],]

In [52]:
nest[3][0]

4

In [53]:
d = {'key1': 'value', 'key2': 123}

In [54]:
d['key1']

'value'

In [55]:
d['key2']

123

In [56]:
d

{'key1': 'value', 'key2': 123}

In [57]:
d = {'k1': [1,2,3]}

In [58]:
my_list = d['k1']

In [59]:
my_list

[1, 2, 3]

In [60]:
my_list[0]

1

In [61]:
d = {'k1': {'innerKey': [1,2,3]}}

In [62]:
d

{'k1': {'innerKey': [1, 2, 3]}}

In [65]:
d['k1']['innerKey'][1]

2

In [66]:
True

True

In [69]:
False

False

In [70]:
t = (1,2,3)

In [71]:
t[0]

1

In [72]:
my_list[0] = 'New'

In [73]:
my_list

['New', 2, 3]

In [74]:
t[0] ='New'

TypeError: 'tuple' object does not support item assignment

In [75]:
st = {1,22,1,1,1,2,3,3,1,2,3,4,5}

In [76]:
print(st)

{1, 2, 3, 4, 5, 22}

In [78]:
set([1,1,2,2,2,2,3,4,5,7,8,9,0,9])

{0, 1, 2, 3, 4, 5, 7, 8, 9}

In [79]:
st.add(32)

In [83]:
print(st)

{32, 1, 2, 3, 4, 5, 22}

In [84]:
s

'hello'

In [85]:
st

{1, 2, 3, 4, 5, 22, 32}

In [86]:
1>2

False

In [87]:
1<2

True

In [88]:
1 != 3

True

In [91]:
'hi'!='bye'

True

In [92]:
1<2 and 3<4

True

In [93]:
1<2 and 3>4

False

In [95]:
1>2 or 2>1

True

In [96]:
if 1<2 :
    print('yep!')

yep!

In [98]:
if 1 ==2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle

In [99]:
seq = [1,2,3,4,5]

In [100]:
for item in seq:
    print(item)

1
2
3
4
5

In [102]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [103]:
for x in seq:
    print(x)

1
2
3
4
5

In [107]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [110]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [111]:
x = [1,2,3,4]

In [112]:
out = []

In [113]:
for num in x:
    out.append(num **2)

In [114]:
print(out)

[1, 4, 9, 16]

In [115]:
[num ** 2 for num in x]

[1, 4, 9, 16]

In [13]:
out = [num ** 2 for num in x]

NameError: name 'x' is not defined

In [14]:
print(out)

NameError: name 'out' is not defined

In [10]:
def my_func(param1 = 'default'):
    print(param1)

In [11]:
my_func('hello')

hello

In [12]:
my_func()

default

In [36]:
t =lambda var:var*2

In [37]:
t(6)

12

In [30]:
times2(10)

20

In [17]:
#map

In [20]:
seq = [1,2,3,4,5]
new_list = []

In [21]:
for i in seq:
    new_list.append(i *2)

In [22]:
new_list

[2, 4, 6, 8, 10]

In [40]:
list(map(lambda num : num *3, seq))

[3, 6, 9, 12, 15]

In [28]:
seq

[1, 2, 3, 4, 5]

In [42]:
list(filter(lambda num : num % 2== 0, seq))

[2, 4]

In [43]:
s = 'Hello my name is Sam'

In [44]:
s.encode()

b'Hello my name is Sam'

In [45]:
s

'Hello my name is Sam'

In [46]:
s.lower()

'hello my name is sam'

In [47]:
s.split()

['Hello', 'my', 'name', 'is', 'Sam']

In [49]:
s.split()[1]

'my'

In [50]:
tweet = 'Go Sports! #Sports'

In [52]:
tweet.split('#')[1]

'Sports'

In [53]:
d = {'k1': 1, 'k2': 2}

In [54]:
d

{'k1': 1, 'k2': 2}

In [56]:
d.keys()

dict_keys(['k1', 'k2'])

In [57]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [58]:
d.values()

dict_values([1, 2])

In [59]:
lst = [1,2,3]

In [60]:
lst.pop()

3

In [62]:
lst

[1, 2]

In [63]:
lst = [1,2,3,4,5]

In [64]:
item = lst.pop()

In [65]:
item

5

In [66]:
lst.pop(1)

2

In [67]:
lst

[1, 3, 4]

In [68]:
'x' in [1,2,3]

False

In [69]:
'x' in ['x',2,1,3]

True

In [71]:
'x ' in ['x ', 2,2]

True

In [72]:
x = [(1,2), (3,4), (5,6)]

In [73]:
x[0][1]

2

In [74]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [81]:
for a,b in x:
    print(b)

2
4
6